<form method="POST" action="/get_gift">
  <h1 class="is-size-2 pb-5">Получить подарок</h1>
  <div class="field has-addons pb-2">
    <div class="control is-expanded">
      <input name="access_key" class="input is-normal" type="text" placeholder="Код подарка">
    </div>
    <div class="control">
      <input value="Получить" type="submit" class="button is-normal is-info">
    </div>
  </div>
  <%# * Код подарка должен был прийти на email %>
</form>