<section class="section tile is-ancestor">
  <div class="tile is-6 is-parent">
    <a
      class="has-text-info pb-6 notification is-info has-text-centered is-light tile is-child is-vertical"
      href="/get_gift">
      <span class="icon has-text-info is-light py-6">
        <i class="fa fa-gift fa-3x"></i>
      </span>
      <p class="is-size-4">Получить подарок</p>
    </a>
  </div>
  <div class="tile is-6 is-parent">
    <a
      class="has-text-info pb-6 notification is-info has-text-centered is-light tile is-child is-vertical"
      href="/gifts/new">
      <span class="icon has-text-info is-light py-6">
        <i class="fa fa-gifts fa-3x"></i>
      </span>
      <p class="is-size-4">Сделать подарок</p>
    </a>
  </div>   
</section>